$dark: #1c1c1c;
$light: #F4F7F5;
$red: #9D5C63;
$lights1: #CEEAF7;
$lights2: #828A95;
$lights3: #AF9AB2;
$lights4: #672A4E;
$lights5: #B0C4B1;
$lights6: #4A5759;
$lights7: #EDDEA4;
$lights8: #00A7E1;
$lights9: #4DA167;
$lights10: #E39774;

@import "scss/common.scss";
@import "scss/landing.scss";
@import "scss/navbar.scss";
@import "scss/responsive.scss";
