.landing {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: $light;
	overflow: hidden;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	z-index: 2;
}
#landing-fg, #landing-bg {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

}
#landing-fg {
	background: url('/assets/skyline.png');
	z-index: 1;
}
#landing-bg {
	background: linear-gradient(to top, rgb(5, 3, 51) 0%, rgb(74, 60, 112) 13%, rgb(241, 236, 239) 28%, rgb(187, 240, 253) 42%, rgb(80, 181, 227) 62%, rgb(48, 122, 200) 82%, rgb(35, 88, 187) 100%);
	z-index: 0
}
.landing-canvas {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 0;
}
.call-out-container {
	position: relative;
	z-index: 2;
}
.call-out, .action {
	background: rgba($dark, 0.75);
}
.call-out {
	padding: 24px;
	h1 {
		font-size: 36px;
	}
	h2 {
		font-size: 24px;
	}
	.em {
		color: $red;
	}
}
.action {
	width: fit-content;
	margin: auto;
	padding: 12px 12px 0;
	text-align: center;
	transition: background 0.3s linear;
	&:hover {
		background: $dark;
		cursor: pointer;
	}
}
