.gradient {
	background: linear-gradient(180deg,#1c1c1c 0,#9d5c63 60%);
	opacity: .3;
	top: 0;
	position: absolute;
	height: 100vh;
	width: 100%;
}
.landing {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 3;
	background: url('/assets/pattern.png') fixed;
}
.call-out {
	position: relative;
	z-index: 5;
}
.call-out .text-center {
	padding: 24px;
	color: $light;
	animation: landing-box 0.5s ease-in-out 0.5s forwards;
	h1 {
		animation: landing-h1 0.5s ease-in-out 0.5s backwards;
	}
	h2 {
		animation: landing-h2 0.5s ease-in-out 1s backwards;
		.em:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 5px;
			bottom: 0;
			left: 0;
			background: $red;
			border-radius: 5px;
			transform-origin: left;
		}
		.em-1:before {
			animation: landing-em 0.5s ease-in-out 1.5s backwards;
		}
		.em-2:before {
			animation: landing-em 0.5s ease-in-out 1.75s backwards;
		}
	}
	.em {
		color: $red;
		position: relative;
	}
}
.scroll-c2a {
	position: absolute;
	bottom: 24px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}
.action {
	display: flex;
	justify-content: space-around;
	a {
		animation: landing-actions 0.5s ease-in-out 2s backwards;
		padding: 12px 24px;
		color: $light!important;
		text-decoration: none!important;
		background: rgba($dark, .8);
		font-weight: bold;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 5px;
			bottom: 0;
			left: 0;
			background: $red;
			border-radius: 5px;
			transform: scaleX(0);
			@include transition();
		}
		&:hover:before {
			transform: scaleX(1);
		}
	}
}